<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<h1>Игры >></h1>
    <h2>{{text}}</h2>
<ul>
    <li><h3>Atomic   <button> Buy </h3></button></li>
    <li><h3>Cyber    <button> Buy</h3></button></li>
    <li><h3>PayDay   <button> Buy</h3></button></li>
    <br>

</ul>
     <button class="btn btn-outline-primary" type="submit"
      data-mdb-ripple-color="dark">
          <h3>
            return  <a href="/"> << back</a>
          </h3>
      </button>

</body>
</html>